<include('../../skeleton/skeleton.marko')>

    <@name>Home</@name>

    <@content>

        <p>Trabalho desenvolvido em Node.js para a disciplina <strong>Desenvolvimento Back-end</strong>, ministrada pelo professor Flávio Laper.<br></p>

    </@content>

</include>