<include('../../skeleton/skeleton.marko')>

    <@name>Erro 404</@name>

    <@content>

        <p>Página não encontrada.</p>
        <a href="/" class="btn btn-primary">Voltar</a>

    </@content>

</include>