<include('../../skeleton/skeleton.marko')>

    <@name>Ops!</@name>

    <@content>

        <p>Houve algum problema. Por favor, volte mais tarde.</p>
        <a href="/" class="btn btn-primary">Voltar</a>

    </@content>

</include>